body, html {
    margin: 0;
    font-family: sans-serif;
    background: #888888;
}

.content {
    margin: 0 auto;
    padding-top: 50px;
    padding-right: 20px;
    float: left;
    /*width: max-content;*/
    width: 100%;
    height: 100%;
    background: #888888;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    justify-self: flex-start;
    position: fixed;
    width: 100%;
    top: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .logopt {
    float: right;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    color: #f2f2f2;
}

.topnav .logopt #hello {
    display: inline-block;
    padding: 14px 14px;
}

.topnav .logopt a {
    padding: 14px 14px;
}

/*                            to jest do formularzu na dole (dodawanie boarda i list)                           */
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    margin-top: 40px;
    display: block;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    width: 200px;
    height: 50px;
    border-radius: .35em;

}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: white;
    padding-bottom: 10px;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form-popup .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-popup .cancel {
    max-width: 300px;
    width: 91%;
    margin-left: 10px;
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/*                          to jest popout od dodawania karty do listy                                                 */
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 800px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 15px;
    right: 15px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/***************************** Dropzone Styling *****************************/

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.dropzone {
    padding-right: 50px;
}

.dropzone .itemlist {
    min-height: 42px;
    min-width: 275px;
    margin: 0px;
    padding-left: 0px;
    display: grid;
    grid-auto-columns: 260px;
    grid-auto-flow: row;
    grid-gap: 8px;
    overflow: scroll;
    overflow-y: hidden;

    overflow-x: hidden;

}

.dropzone li {
    display: inline-block;
}

/**
 * Reduce opacity of elements during the drag operation. This allows the user
 * to see where he is dropping his element, even if the element is huge. The
 * .dndDragging class is automatically set during the drag operation.
 */
.dropzone .dndDragging {
    opacity: 0.7;
}

/**
 * The dndDraggingSource class will be applied to the source element of a drag
 * operation.
 */
.dropzone .dndDraggingSource {
    opacity: 0.5;
}

.dropzone .containerList {
    display: grid;
    border: #333333;
    grid-auto-flow: column;
    width: max-content;
    padding-right: 20px;
}

/**
 * An element with .dndPlaceholder class will be added as child of the dnd-list
 * while the user is dragging over it.
 */
.dropzone .dndPlaceholder {
    background-color: #ddd !important;
    display: block;
    min-height: 42px;
}

/***************************** Element type specific styles *****************************/

.dropzone .itemlist {
    min-height: 80px !important;
    width: 100%;
    background: #333333;
    padding: 10px 7px 15px;
    border-radius: .55em;
}

.dropzone .itemlist > li {
    background-color: #337ab7;
    border: none;
    border-radius: .45em;
    color: #fff;
    font-weight: 700;
    height: 50px;
    /*margin: 5px;*/
    padding: 3px;
    /*text-align: center;*/
    width: 100%;
    align-self: center;
    justify-self: center;
}

.editContent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.pluscard {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    border-radius: .45em;
    align-self: center;
    justify-self: center;
    background: darkgray;
}

.dropzone .container-element {
    margin: 10px;
    display: grid;
    background: #aaaaaa;
    max-width: 275px;
    margin-top: 38px;
    border-radius: .55em;

    justify-content: center;
    align-items: center;

}

a.editable-click {
    color: black;
    border-bottom: none;
}

/*end of lists css */