<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/trying_stuff.css') }}">

<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
    <div class="logopt">
        {% if g.user %}
        Hello {{g.user['username']}}<a href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
        <a href="{{ url_for('auth.register') }}">Register</a>
        <a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
    </div>

</div>

<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>