<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/trying_stuff.css">
    <!-- stylesheets -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/yeti/bootstrap.min.css" rel="stylesheet"
          media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.js"></script>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css'
          type='text/css' media='all'/>
    <script type='text/javascript'
            src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-drag-and-drop-lists/2.1.0/angular-drag-and-drop-lists.min.js"></script>


    <base href="/">

</head>


<body ng-app="app" ng-controller="ngappController">
<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/news">News</a>
    <a href="#contact">Contact</a>
    <a href="#generate_board">Generate board</a>
    <a href="#about">About</a>
    <div class="logopt">
        <div id="loginmenublock" ng-controller="LogoutController" hidden="true">
            <divek id="hello">Hello {{g.user['username']}}</divek>
            <a ng-click="logout()">Logout</a>
        </div>
        <div id="registermenublock" hidden="true">
            <a href="/login">Log In</a>
        </div>
    </div>

</div>

<ng-view></ng-view>
<script src='../static/js/app.js'></script>
<script src="../static/js/controllers.js"></script>
<script src="../static/js/services.js"></script>
</body>
</html>