<div class="content" ng-if="!boardInfo.archived">

    <h1 editable-text="boardInfo.name" onbeforesave="updateBoard($data)"
        style="border: none; color:black; padding-left: 20px">
        {{ boardInfo.name }}
    </h1>

    <h1 style="text-align: center" ng-if="lists.length == 0">There are no lists! Please add one!</h1>
    <div class="dropzone">

        <ul dnd-list="containers"
            dnd-allowed-types="['container']"
            dnd-external-sources="true"
            dnd-dragover="dragoverCallback(index, external, type, callback)"
            dnd-drop="dropCallback(index, item, external, type)"
            class="containerList">
            <li ng-repeat="list in lists"
                dnd-draggable="container"
                dnd-type="'container'"
                dnd-effect-allowed="copyMove"
                dnd-moved="containers.splice($index, 1)"
                dnd-callback="container.items.length">
                <div class="container-element">
                    <h3 style="text-align: center; border: none; color: black" editable-text="list.name"
                        onbeforesave="editList(list.id, $data)">{{ list.name }}</h3>
                    <ul dnd-list="list.cards"
                        dnd-allowed-types="['item']"
                        dnd-horizontal-list="true"
                        dnd-external-sources="true"
                        dnd-effect-allowed="move"
                        dnd-dragover="dragoverCallback(index, external, type)"
                        dnd-drop="dropCallback(index, item, external, type)"
                        dnd-inserted="logListEvent('inserted at', index, external, type)"
                        class="itemlist">
                        <li ng-repeat="card in list.cards"
                            dnd-draggable="item"
                            dnd-type="'item'"
                            dnd-effect-allowed="all"
                            dnd-dragstart="logEvent('Started to drag an item')"
                            dnd-moved="container.items.splice($index, 1)"
                            dnd-dragend="logEvent('Drag operation ended. Drop effect: ' + dropEffect)">
                            <div class="labels">
                                <div class="label" ng-repeat="label in card.labels" style="background-color: {{label.color}}";>
                                    <b>{{label.text}}</b>
                                </div>
                            </div>
                            <div class="editContent" ng-click="showEditCardForm(card.id, card.name, card.content)">
                                {{ card.name }}
                            </div>
                        </li>
                        <div>
                            <button class="pluscard" ng-click="showAddingCardForm(list.id)">+Card</button>
                        </div>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </li>
            <button class="open-button" ng-click="showListForm()">New List</button>
        </ul>
    </div>
    <!--           EDITING INSIDES OF CARD                                                                                        -->
    <div class="modal" id="editCardForm">
        <div class="modal-content">
            <h1><i class="glyphicon glyphicon-tasks" style="font-size: 20px;padding-right: 8px"></i>{{ card_name }}</h1>
            <h2 style="border: none; color: black" editable-text="card_content" onbeforesave="editCard(card_id, $data)">
                <i class="glyphicon glyphicon-list-alt"
                   style="padding-right: 8px; font-size: 20px"></i>{{ card_content || "No content provided!" }}</h2>
            <button class="close" ng-click="hideEditCardForm()">&times</button>

        </div>
    </div>

    <!--           ADDING CARD                                                                                        -->
    <div class="modal" id="addingCardForm">
        <form class="modal-content" ng-submit="generateCard(list_id)">
            <h1>New card</h1>
            <div class="form-group">
                <input type="text" placeholder="Enter card name" name="name" ng-model="addingCardForm.name">
            </div>
            <button type="submit" class="close" id="closeCardForm">&times</button>
        </form>
    </div>

    <!--           ADDING LIST                                                                                        -->
    <div class="form-popup" id="addingListForm">
        <form class="form-container" ng-submit="generateList()">
            <h1>New List</h1>
            <label><b>Name</b></label>
            <div class="form-group">
                <input type="text" placeholder="Enter list name" name="name" ng-model="addingListForm.name" required>
            </div>
            <button type="submit" class="btn">Add</button>
        </form>
        <button class="btn cancel" ng-click="hideListForm()">Cancel</button>

    </div>


</div>

<!--           If the board is archived this will be displayed                                                                                        -->
<div class="content" ng-if="boardInfo.archived">
    <h2>This board is archived. If you want to undo this <a ng-click="unarchiveBoard(boardInfo.id)">click here</a></h2>


</div>
