<div class="content" ng-if="!boardInfo.archived">

    <h1 editable-text="boardInfo.name" onbeforesave="updateBoard($data)"
        style="border: none; color:black; padding-left: 20px">
        {{ boardInfo.name }}
    </h1>

    <h1 style="text-align: center" ng-if="lists.length == 0">There are no lists! Please add one!</h1>
    <div class="dropzone">

        <ul dnd-list="containers"
            dnd-allowed-types="['container']"
            dnd-external-sources="true"
            dnd-dragover="dragoverCallback(index, external, type, callback)"
            dnd-drop="dropCallback(index, item, external, type)"
            class="containerList">
            <li ng-repeat="list in lists"
                dnd-draggable="container"
                dnd-type="'container'"
                dnd-effect-allowed="copyMove"
                dnd-moved="containers.splice($index, 1)"
                dnd-callback="container.items.length">
                <div class="container-element">
                    <h3 style="text-align: center; border: none; color: black" editable-text="list.name"
                        onbeforesave="editList(list.id, $data)">{{ list.name }}</h3>
                    <ul dnd-list="list.cards"
                        dnd-allowed-types="['item']"
                        dnd-horizontal-list="true"
                        dnd-external-sources="true"
                        dnd-effect-allowed="move"
                        dnd-dragover="dragoverCallback(index, external, type)"
                        dnd-drop="dropCallback(index, item, external, type)"
                        dnd-inserted="logListEvent('inserted at', index, external, type)"
                        class="itemlist">
                        <li ng-repeat="card in list.cards"
                            dnd-draggable="item"
                            dnd-type="'item'"
                            dnd-effect-allowed="all"
                            dnd-dragstart="logEvent('Started to drag an item')"
                            dnd-moved="container.items.splice($index, 1)"
                            dnd-dragend="logEvent('Drag operation ended. Drop effect: ' + dropEffect)">
                            <div class="labels">
                                <div class="label" ng-repeat="label in card.labels"
                                     style="background-color: {{label.color}}" ;>
                                    <b>{{label.text}}</b>
                                </div>
                            </div>
                            <div class="editContent" ng-click="showEditCardForm(card.id, card.name, card.content, card.labels, card.term, card.done)">
                                {{ card.name }}
                            </div>
                        </li>
                        <div>
                            <button class="pluscard" ng-click="showAddingCardForm(list.id)">+Card</button>
                        </div>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </li>
            <button class="open-button" ng-click="showListForm()">New List</button>
        </ul>
    </div>
    <!--           EDITING INSIDES OF CARD                                                                                        -->
    <div class="modal" id="editCardForm">
        <div class="modal-content">
            <h1 style="border: none; color: black" editable-text="card_name"
                onbeforesave="editCard(card_id, $data, 'name')"><i class="glyphicon glyphicon-tasks"
                                                                   style="font-size: 20px;padding-right: 8px"></i>{{ card_name}}
            </h1>
            <h2 style="border: none; color: black" editable-text="card_content"
                onbeforesave="editCard(card_id, $data, 'content')">
                <i class="glyphicon glyphicon-list-alt"
                   style="padding-right: 8px; font-size: 20px"></i>{{ card_content || "No content provided!" }}</h2>



            Due to date: <button style="border: none; color:black" ng-click="showHiddenDateTime()">{{(card_term | date: "dd-MM-YYYY HH:mm") || 'Please insert date'}}</button>


            <input id="hiddenDateTime" hidden="true" type="datetime-local" ng-model="dateChanger" ng-change="editCard(card_id, dateChanger, 'date')">





            Done:
            <input type="checkbox" ng-checked="card_done" ng-click="editCard(card_id, !card_done, 'done')">

            <div class="form-labels">
                <div class="labels" style="display: block">
                    <div ng-repeat="label in boardInfo.labels">
                        <input type="checkbox" ng-checked="checkCheck(card_labels, label.id)" ng-click="changeLabelCheck(card_id, label.id)"/>
                        <div class="label"
                             style="background-color: {{label.color}}; width: 100px; height: 30px; float: none; display: inline-block; text-align: center; padding: 7px 0">
                            <b editable-text="label.name" e-style="height: 20px; width: 80px; margin: 0px 5px 5px 5px; buttonClass: btn-sm" onbeforesave="editLabelText(label.id, $data)" style="border: none; color: white">{{label.text || 'None'}}</b>
                        </div>

                    </div>
                </div>
            </div>
            <button class="btn-primary" ng-click="showAddingLabelForm()">New Label</button>
            <button class="close" ng-click="hideEditCardForm()">&times</button>

            </div>
        </div>
    </div>

    <!--           ADDING CARD                                                                                        -->
    <div class="modal" id="addingCardForm">
        <form class="modal-content" ng-submit="generateCard(list_id)">
            <h1>New card</h1>
            <div class="form-group">
                <input type="text" placeholder="Enter card name" name="name" ng-model="addingCardForm.name">
            </div>
            <button type="submit" class="close" id="closeCardForm">&times</button>
        </form>
        +
    </div>

    <!--           ADDING LIST                                                                                        -->
    <div class="form-popup" id="addingListForm">
        <form class="form-container" ng-submit="generateList()">
            <h1>New List</h1>
            <label><b>Name</b></label>
            <div class="form-group">
                <input type="text" placeholder="Enter list name" name="name" ng-model="addingListForm.name"
                       required>
            </div>
            <button type="submit" class="btn">Add</button>
        </form>
        <button class="btn cancel" ng-click="hideListForm()">Cancel</button>

    </div>


</div>
<!--           ADDING LABEL                                                                                        -->
    <div class="modal" id="addingLabelForm">
        <form class="modal-content" ng-submit="generateLabel(card_id, boardInfo.id)">
            <h1>New Label</h1>
            <div class="form-group">
                <input type="text" placeholder="Enter label name" name="text" ng-model="addingLabelForm.text" required>
            </div>
            <!--todo checkboxy na kolorki -->
            <div class="form-group">
                <select name='color' ng-model="addingLabelForm.color" required>
                    <option value="">--Select Color--</option>
                    <option value='Brown' style='background-color:Brown'>Brown</option>
                    <option value='Coral' style='background-color:Coral'>Coral</option>
                    <option value='DarkSlateGrey' style='background-color:DarkSlateGrey'>Dark slate grey</option>
                    <option value='Indigo' style='background-color:Indigo'>Indigo</option>
                    <option value='Gold' style='background-color:Gold'>Gold</option>
                    <option value='Magenta' style='background-color:Magenta'>Magenta</option>
                    <option value='DarkCyan' style='background-color:DarkCyan'>Dark cyan</option>
                    <option value='DeepSkyBlue' style='background-color:DeepSkyBlue'>Deep sky blue</option>
                    <option value='Tan' style='background-color:Tan'>Tan</option>
                    <option value='#88B04B' style='background-color:#88B04B'>Greenery</option>
                    <option value='PeachPuff' style='background-color:PeachPuff'>Peach puff</option>
                    <option value='#F7CAC9' style='background-color:#F7CAC9'>Rose quartz</option>
                </select>
            </div>

            <button type="submit" class="btn btn-success" id="closeLabelForm">Create</button>
        </form>

    </div>

<!--           If the board is archived this will be displayed                                                                                        -->
<div class="content" ng-if="boardInfo.archived">
    <h2>This board is archived. If you want to undo this <a ng-click="unarchiveBoard(boardInfo.id)">click here</a>
    </h2>


</div>
