<div class="content">
    <div class="col-md-4">
        <div style="text-align: center" ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
        <form class="form" ng-submit="login()">
            <div class="form-group">
                <label>Username:</label>
                <input type="text" class="form-control" name="username" ng-model="loginForm.username" required>
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input type="password" class="form-control" name="password" ng-model="loginForm.password" required>
            </div>
            <div>
                <button type="submit" class="btn btn-success" ng-disabled="disabled">Login</button>
            </div>
        </form>

        <br>
        If you are not registred, please <a href="/register">sign up</a>
    </div>
</div>

